# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Dokumente\Sync\Studium\FU_Box_Sync\PhysikBsc\HiWi_Bolotin\Physics\Simulations\photocurret_hetereo_01\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
