# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Dokumente\Sync\Studium\FU_Box_Sync\PhysikBsc\AG Bolotin\Physics\Simulations\excitonic_PC_model_hetereostructure\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
